h3 {
    margin: 40px 0 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
  .error {
    color: red;
  }
  input {
    margin: 10px;
  }
  .normal-background {
    background-color: whitesmoke;
  }
  .red-background {
    background-color: hsl(14, 100%, 53%);
  }