<div class="card" v-on:click="onClick()" :class="ride.distance > 2 ? 'red-background' : 'normal-background'" v-bind:key="ride.id">
  <div class="card-content">
    <p class="title">Id ride: {{ ride.id}}</p>
    <p v-if="isClicked"class='subtitle'>Clicked</p>
    <p v-if="!price"class='subtitle'>Loading price...</p>
    <p v-else class='subtitle'>The price is: {{ price }}$</p>
  </div>
</div>