<template src="./RideCard.html"></template>
<style scoped src="./RideCard.css"></style>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import { fetchRides } from "@/services/";
import { Ride } from "@/models/Ride.model";
import { State } from "vuex-class";
import rides from "@/store/modules/rides";
import moment from "moment";

@Component
export default class RideCard extends Vue {
  hasClicked = false;
  @Prop() ride: Ride;
  @Prop() price?: number;
  isClicked = false;

  beforeMount() {
    this.$emit("getRidePrice", this.ride);
  }
  onClick() {
    this.isClicked = true;
    const momentEndDate = moment(this.ride.startDate).add(
      this.ride.duration,
      "second"
    );
    moment.duration(this.ride.duration, "second");
    const momDiff = moment
      .duration(this.ride.duration, "second")
      .asMilliseconds();

    const endDate = alert(
      moment.utc(momDiff).format("HH:mm:ss") + " - " + momentEndDate.format()
    );
  }
}
</script>
