<template src="./AddRide.html"></template>
<style scoped src="./AddRide.css"></style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { fetchRides } from "@/services/";
import { Ride } from "@/models/Ride.model";
import { State } from "vuex-class";
import rides from "@/store/modules/rides";
import moment from "moment";

@Component
export default class AddRide extends Vue {
  startDate: Date = new Date();
  duration: number = 0;
  distance: number = 0;

  errors: string[] = [];

  public created() {}

  beforeMount() {}

  public emitRide(): void {
    this.errors = [];
    const startDate = moment(this.startDate);
    if (moment().diff(this.duration) <= 0) {
      this.errors.push("The start date of your course is after the end date");
    }
    // if (endDate.diff(startDate) <= 0) {
    //   this.errors.push("The end date of your course is in the future");
    // }
    if (this.distance <= 0) {
      this.errors.push("distance must be strictly positive");
    }
    if (!this.errors.length) {
      const ride = {
        startDate: this.startDate,
        duration: this.duration,
        distance: this.distance,
      };
      this.$emit("added", ride);
    }
  }
}
</script>
