<div class="container">
  
  <div class="columns"><h1>Add new ride. Currently not working...</h1></div>
  <form @submit.prevent="emitRide">
    <div class="columns">
      <input class="input column" type="datetime-local" placeholder="Enter task..." v-model="startDate">
      <input class="input column" type="number" placeholder="Enter task..." v-model="duration">
    </div>
    <input class="input" type="number" placeholder="Enter task..." v-model="distance">
    <button type="submit">Add Ride</button>

    <p v-if="errors.length">
      <b>Please correct the following error(s):</b>
      <ul>
        <li class="error" v-for="error in errors">{{ error }}</li>
      </ul>
    </p>

  </form>
  </div>