<div>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h2 class="title">Check out recent rides</h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="main">
          <AddRide @added="addRide" />
        </div>
        <RideCard class='card' v-for="ride in rides" :ride="ride" :price="ride.price" @getRidePrice="getRidePrice"/>
      </div>
    </section>
  </div>