<template src="./Home.html"></template>
<style scoped src="./Home.css"></style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { fetchRides } from "@/services/";
import { Ride } from "@/models/Ride.model";
import { State } from "vuex-class";
import rides from "@/store/modules/rides";
import AddRide from "@/components/AddRide/AddRide.vue";
import RideCard from "@/components/RideCard/RideCard.vue";

@Component({
  components: {
    AddRide,
    RideCard,
  },
})
export default class Home extends Vue {
  public created() {
    rides.fetchAllRides();
  }

  get rides(): Ride[] {
    return rides.allRides;
  }

  beforeMount() {}

  public addRide(ride: Ride): void {
    rides.pushNewRide(ride);
  }

  public getRidePrice(ride: Ride): void {
    rides.findPriceForRide(ride);
  }
}
</script>
